<h3>Update user Details</h3>
<%= form_with model: @user do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :email, placeholder: "email" %>

  <%= form.submit %>
<% end %>